<app-dashboard></app-dashboard>

<div class="profile-container">
    <div class="profile-header">
        <img class="profile-picture" [src]="profile.photoUrl" alt="{{ profile.firstName }}">
        <h2>{{fullName()}}</h2>
        <p>{{ profile.email }}</p>
    </div>
    <div class="profile-details">
        <h3>Profile Details</h3>
        <div class="profile-detail-item" *ngIf="!isEditing">
            <span class="label">Username:</span>
            <span class="value">{{ profile.username }}</span>
        </div>
        <div class="profile-detail-item" *ngIf="isEditing">
            <span class="label">Username:</span>
            <input [(ngModel)]="profile.username" class="value">
        </div>
        <div class="profile-detail-item">
            <span class="label">Role:</span>
            <span class="value">{{ profile.role }}</span>
        </div>
        <div class="profile-detail-item" *ngIf="!isEditing">
            <span class="label">Email:</span>
            <span class="value">{{ profile.email }}</span>
        </div>
        <div class="profile-detail-item" *ngIf="isEditing">
            <span class="label">Email:</span>
            <input [(ngModel)]="profile.email" class="value">
        </div>
        <div class="profile-detail-item" *ngIf="!isEditing">
            <span class="label">Bio:</span>
            <span class="value">{{ profile.phoneNumber }}</span>
        </div>
        <div class="profile-detail-item" *ngIf="isEditing">
            <span class="label">Bio:</span>
            <input [(ngModel)]="profile.phoneNumber" class="value">
        </div>
        <div class="profile-actions">
            <button (click)="isEditing ? saveProfile() : editProfile()">{{ isEditing ? 'Save' : 'Edit Profile' }}</button>
            <button class="danger" (click)="logout()">Logout</button>
        </div>
    </div>
</div>
<app-dashboard-footer></app-dashboard-footer>
