<div class="footer">
    <div class="links">
        <div class="logoContainer row-start-center">
            <img class="logo" src="./assets/union.svg">
            <span class="logoTitle">Java Factory</span>
        </div>
        <div class="columnMenu column-start">
            <a>Cursuri</a>
            <a>Tarife</a>
            <a>Instructori</a>
        </div>
        <div class="columnMenu column-start">
            <a>Despre</a>
            <a>Contact</a>
            <a>Testimoniale</a>
        </div>
        <div class="columnMenu column-start align disappear">
            <a>Conecteaza-te</a>
            <a>Inscrie-te</a>
        </div>
        <div class="buttonMenu row-start-center align">
            <p-button pRipple label="Conecteaza-te"></p-button>
            <p-button pRipple label="Inscrie-te"></p-button>
        </div>
        <div class="news column-start">
            <span>Pentru mai multe detalii ne puteti contacta la:</span>
            <a href="mailto:inscrieri@javafactory.ro">
                <p-button styleClass="p-button-outlined p-button-plain" label="inscrieri@javafactory.ro" icon="pi pi-arrow-right" iconPos="right"></p-button>
            </a>
        </div>
    </div>
    <div class="newsPhone column-start">
        <span>Pentru mai multe detalii ne puteti contacta la:</span>
        <a href="mailto:inscrieri@javafactory.ro">
            <p-button styleClass="p-button-outlined p-button-plain" label="inscrieri@javafactory.ro" icon="pi pi-arrow-right" iconPos="right"></p-button>
        </a>
    </div>
    <hr>
    <div class="info row-around-center wrap">
        <span class="copyright">© 2023 Java Factory Inc.</span>
        <div class="menu row-center">
            <a>Politica de confidentialitate</a>
            <a>Termeni si conditii</a>
            <a>Politica de utilizare cookie-uri</a>
        </div>
        <div class="socials row-center">
            <p-button styleClass="p-button-outlined p-button-plain">
                <ng-template pTemplate="buttonIcon">
                    <img alt="button icon" src="/assets/RO.svg">
                    <span>Romana (RO)</span>
                </ng-template>
            </p-button>
            <img src="/assets/Twitter.svg">
            <img src="/assets/Facebook.svg">
            <img src="/assets/Linkedin.svg">
        </div>
        <hr class="phone">
    </div>
</div>