:host ::ng-deep .p-button p-button-outlined .p-button-label {
    font-weight: 500;
    font-size: 14px;
}

:host ::ng-deep .p-button {
    gap: 5px;
}

:host ::ng-deep .p-button.p-button-outlined {
    border: 1px solid;
}

:host ::ng-deep .p-button .p-button-label {
    font-weight: 400;
}

.footer {
    background: var(--main-text);
}

.flag-ro {
    color: blue;
}

.links {
    padding: 5vw 7vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.menu {
    gap: 25px;
}
.socials {
    gap: 20px;
}

.columnMenu {
    gap:15px;
}

.news {
    gap:25px;
}

.info {
    gap: 15px;
    padding: 30px 0px;
}

hr {
    width: 91%;
}

.align {
    align-self: flex-start;
}

.newsPhone {
    display: none;
    gap:25px;
}

.buttonMenu {
    display: none;
}

.phone {
    display: none;
}

@media (max-width: 1025px) {
    .news {
        display: none;
    }
    .links {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .newsPhone {
        display: flex;
        padding: 0vw 7vw 3vw;
    }
}

@media (max-width: 540px) {
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto auto; 
        gap: 30px; 
    }
    .logoContainer {
        grid-column: span 2;
    }
    .columnMenu {
        grid-column: span 1; 
    } 
    .align {
        grid-column: span 2;
        flex-direction: row;
    }
    .disappear {
        display: none;
    }
    .buttonMenu {
        display: flex;
        gap: 20px;
    }

    .info {
        padding: 5vw 7vw;
        align-items: flex-start;
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        align-items: flex-start
    }
    .copyright {
        order: 4;
        align-self: center;
    }
    .phone {
        width: 100%;
        display: block;
    }
}